@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F54927;
    background-image: url(../img/pexels-pixabay-163064.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    color: #d6e908;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-decoration: line-through;
}

h1 {
    color: #d6e908;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

ul {
    list-style-image: url(../imagenes/flor.png);
    list-style-position: inside;
}

table th {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #d6e908;
}

td {
    border: 1px solid #d6e908;
    padding: 10px;
    text-align: center;
}

tr {
    background-color: #d6e908;
    color: #F54927;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

a {
    color: #d6e908;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #13f434;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

a:link {
    color: #e77e15;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

a:visited {
    color: #1dcdf0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

a:active {
    color: #ee0eba;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}